// Define defaults for each variable.
$base-font-family: "Roboto", sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 300 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.4 !default;

$header-font-family: "Fjalla One", sans-serif !default;
$h1-font-size: 45px;
$h1-line-height: 63px;
$subheader-font-family: "Roboto", sans-serif !default;
$subheader-font-size: 22px;
$h2-font-family: "Fjalla One", sans-serif !default;
$h2-font-size: 24px;
$h3-font-family: "Fjalla One", sans-serif !default;
$h3-font-size: 18px;


$spacing-unit:     30px !default;

$text-color:       #171414 !default;
$background-color: #fdfdfd !default;
$brand-color:      #F1D3D3 !default;
$accent-color:     #1539CF !default;

$grey-color:       #CCCCCC !default;
$grey-color-light: #E9E9E9 !default;
$grey-color-dark:  #808080 !default;

$lightblue-color: #B8C5F9;

// Width of the content area
$content-width:    1024px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;
