// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// This is mixin which you will include in parent
// of columns. It kills default margin of inline-block
// elements.
@mixin row () {
  font-size: 0;
  position: relative;
}

// This is column mixins.
@mixin col ($col, $sum, $gap: 1em, $align: top, $first: false, $last: false) {
    width: percentage($col/$sum);
    display: inline-block;
    font-size: 16px;
    padding-left: if($first, 0, $gap);
    padding-right: if($last, 0, $gap);

    @media only screen and (min-width: 768px) {
            width: percentage($col/$sum);
            vertical-align: $align;
    }
}

@mixin center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}


 .wrapper {
   max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
   max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
   margin-right: auto;
   margin-left: auto;
   //padding-right: $spacing-unit;
   //padding-left: $spacing-unit;
   clear: both;

   @include media-query($on-laptop) {
     max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
     max-width:         calc(#{$content-width} - (#{$spacing-unit}));
     //padding-right: $spacing-unit / 2;
     //padding-left: $spacing-unit / 2;
   }
 }

 /**
  * Clearfix
  */
  %clearfix:after {
       content: "";
       display: table;
       clear: both;
     }


 .site-header {
   min-height: 56px;

}






/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-family: $h2-font-family;
  font-size: $h2-font-size;
  margin-bottom: $spacing-unit / 2;

  @include media-query($on-palm){
    padding-left: 10px;
  }
}

.contact-list,
.interviews-list {
  list-style: none;
  margin-left: 0;
}

.contact-list > .contact-list-header {
  font-size: 15px;
  padding-bottom: 20px;
  color: $text-color;
}

.footer-col-wrapper {
  font-size: 15px;
  margin-left: -$spacing-unit / 2;
  padding-left: 100px;
  @extend %clearfix;

  @include media-query($on-palm){
    padding-left: 10px;
  }
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;

}

.footer-col-1 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(75% - (#{$spacing-unit} / 2));
  width:         calc(75% - (#{$spacing-unit} / 2));
  @extend %clearfix;
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

.footer-description {
  color: $grey-color;
}

.footer-about > p {
  font-size: 20px;
}


.page-header {
  background: url("/images/cream_pixels.png");
  position: relative;
 }

.page-header-title {
  @include col(4,5);
  padding: 75px 30px 75px 100px;
  display: inline-block;

  @include media-query($on-palm){
    @include col(5,5);
    padding: 50px 20px 50px 20px;
  }
}


// Page content


.title {
  @include col(4,5);
  padding-top: 50px;

  @include media-query($on-palm){
      @include col(5,5);
  }
}

.page {
   @include row;
   @include center-children;
 }

.page-content {
  padding: $spacing-unit 0;
  margin: 0 auto;
  @include col(3, 5);

  @include media-query($on-palm) {
    @include col(5,5);
  }
}

.page > .page-content > p > img {
  max-width: none;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 50px 0;
}


//.page-content {

//  p {
//    padding-bottom: 10px;
//  }

//  ul {
//    padding-bottom: 30px;
//  }
//}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}
