---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}


<body>

  {% include header.html %}


    <header class="page-header">
      <div class="page-header-title">
        <h1 class="post-title">{{ page.title | escape }}</h1>
        <p class="post-subtitle">As a Trunk Club Product Designer, I've had the pleasure of designing and shipping a wide array of features. Below is a small sample of my work.</p>
      </div>
    </header>


  <div class="cases">

        {{ content }}


  </div>

      {% include footer.html %}
      
</body>
