<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <header>


    </header>

          <div class="wrapper-nav">

            <nav>
              <a class="site-title" href="{{ "/" | relative_url}}">Maya Patterson</a>
              <ul>
                {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
                {% for p in navigation_pages %}
                  {% if p.navigation_weight %}
                    <li>
                      <a href="{{ p.url }}" {% if p.url == page.url %}class="active"{% endif %}>
                        {{ p.title }}
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </nav>

          </div>

    <div class="container-hero">
      <div class="hero">
        <h1>Maya Patterson</h1>
      </div>
    </div>


    <div class="callout">
      <div class="blurb">
        <h1>I'm a <span class="emphasis">Product Designer</span> who creates digital experiences that solve human needs</h1>
      </div>
    </div>

    <div class="container">
      <div class="cases">
        {% for case-study in site.case-studies %}
          <div class="case-studies">
              <div class="study-image">
                <img src="{{ case-study.image_path }}" alt="{{ case-study.title }}">
              </div>
              <div class="study-details">
                <h2>{{ case-study.title }}</h2>
                <p>{{ case-study.preview }}</p>
                <a href="{{ case-study.url }}" class ="button hvr-underline-from-center">Read case study</a>
              </div>
          </div>
        {% endfor %}
      </div>
    </div>



    {% include footer.html %}

  </body>

</html>
