<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <header>

      <div class="wrapper-nav">

        <a class="site-title" href="{{ "/" | relative_url}}">Maya Patterson</a>

        <nav class="main-nav">
          <ul>
            {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
            {% for p in navigation_pages %}
              {% if p.navigation_weight %}
                <li>
                  <a href="{{ p.url }}" {% if p.url == page.url %}class="active"{% endif %}>
                    {{ p.title }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>

      </div>

    </header>

    <div class="container">
      <div class="hero">
        <h1>Hey, what's up, hello...</h1>
        <p>I design digital products that don't look like shit</p>
      </div>
    </div>

    <div class="features">
      <article>
        <h3>Lorem ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error aperiam consectetur quasi ratione quas assumenda accusamus sapiente exercitationem suscipit distinctio ipsum excepturi dolorum sint cum hic illo mollitia asperiores unde?</p>
      </article>
      <article>
        <h3>Lorem ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error aperiam consectetur quasi ratione quas assumenda accusamus sapiente exercitationem suscipit distinctio ipsum excepturi dolorum sint cum hic illo mollitia asperiores unde?</p>
      </article>
      <article>
        <h3>Lorem ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error aperiam consectetur quasi ratione quas assumenda accusamus sapiente exercitationem suscipit distinctio ipsum excepturi dolorum sint cum hic illo mollitia asperiores unde?</p>
      </article>
    </div>

    <div class="cases">
      {% for case-study in site.case-studies %}
        <div class="case-studies">
          <div class="study">
            <img src="{{ case-study.image_path }}" alt="{{ case-study.title }}">
            <h2><a href="{{ case-study.url }}">{{ case-study.title }}</a></h2>
            <p>{{ case-study.preview }}</p>
          </div>
        </div>
      {% endfor %}
    </div>



    {% include footer.html %}

  </body>

</html>
