---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}


<body>

  {% include header.html %}
  <div class="wrapper">
    <header class="page-header">
      <div class="title">
        <h1 class="post-title">{{ page.title | escape }}</h1>
        <h2 class="post-sub-title">{{ page.preview }}</h2>
        <p class="time">{{ page.time }}</p>

      </div>
    </header>

    <div class="page">
      <div class="page-content">
        {{ content }}
      </div>
    </div>
  </div>

</body>
